.table_section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.table_section .form_row{
    padding-top: 40px;
}


.table_form input{
   border-radius: 0;
   padding: 10px 20px;
   font-size: 16px;
   font-weight: 400;
}

.table_form input:focus{
    outline: none;
    box-shadow: none;
    border-color: var(--red);
}

.table_form textarea{
    border-radius: 0;
}

.table_form textarea:focus{
    outline: none;
    box-shadow: none;
    border-color: var(--red);
}

.table_form .submit{
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    display: inline-block;
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

.table_form .submit:hover{
    background-color: var(--light-red);
}