
*{
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
}


:root {
  --light-black: #212529;
  --heading-color: #37373f;
  --red: #ce1212;
  --white: #ffffff;
  --grey: #7f7f90;
  --bg-color: #FEF3E2;
  --light-red:  #D95F59;
  --light-bg: #dfe6e9;
}


:root{
  --heading-family: "Amatic SC", sans-serif; 
}

a{
  text-decoration: none;
}

.table_btn{
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--red);
  border-radius: 30px;
}

.menu_btn{
  padding: 8px 30px !important;
  font-size: 16px !important;
  font-weight: 400;
  color: var(--white) !important;
  background-color: var(--red);
  border-radius: 30px;
}

.service_section {
	background: linear-gradient(rgba(225, 208, 208, 0.368),rgba(0,0,0,0.5)), url("images/bg-7.jpg") no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 500px;
}